body{
margin:0;
font-family:Arial;
background:#0f0f0f;
color:white;
text-align:center;
}

header{
padding:120px;
background:linear-gradient(135deg,#2e7d32,#1b5e20);
}

button{
padding:12px 25px;
font-size:16px;
border:none;
border-radius:8px;
background:#00ff99;
cursor:pointer;
}

.info{
padding:40px;
}
