body{
margin:0;
font-family:Arial;
background:#111;
color:white;
text-align:center;
}

header{
padding:100px 20px;
background:linear-gradient(135deg,#3aa655,#1b5e20);
}

header h1{
font-size:50px;
margin:0;
}

button{
padding:10px 20px;
border:none;
background:#00ff88;
color:black;
font-weight:bold;
cursor:pointer;
border-radius:6px;
}

.about{
padding:40px;
background:#1a1a1a;
}

.features{
display:flex;
justify-content:center;
gap:20px;
padding:40px;
flex-wrap:wrap;
}

.card{
background:#222;
padding:20px;
border-radius:10px;
width:200px;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
background:#2e2e2e;
}

.join{
padding:40px;
background:#1a1a1a;
}

footer{
padding:20px;
background:black;
font-size:14px;
}
